<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>


        <property name="connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name="connection.url">
            jdbc:postgresql://localhost:5432/postgres
        </property>

        <property name="connection.username">postgres</property>
        <property name="connection.password">ZayatsMargo2004</property>

        <property name="connection.pool_size">1</property>

        <property name="dialect">
            org.hibernate.dialect.PostgreSQL82Dialect
        </property>

        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="com.company.zayats.hw25.entity.Ticket"/>
        <mapping class="com.company.zayats.hw25.entity.Film"/>
        <mapping class="com.company.zayats.hw25.entity.Users"/>
        <mapping class="com.company.zayats.hw25.entity.SessionFilm"/>

    </session-factory>

</hibernate-configuration>
